@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.left-side {
    position: relative;
    padding: 40px;
    background-color: #003147;
}

.right-side {
    position: relative;
    padding: 40px;
    background-color: #fff;
}

.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-text .img-box {
    position: relative;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-text .img-box img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2 {
    font-size: 1.5em;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile-text h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contact-info {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;

}

.contact-info ul li span {
    color: #fff;
    font-weight: 300
}

.contact-info.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}


.contact-info.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box  .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
}

.skills .box  .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.interests ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interests ul li{
    list-style: none;
    color : #333;
    font-weight: 500;
    margin: 10px 0;
}

.interests ul li i{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width : 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interests ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 600px){
    .interests ul{
        grid-template-columns: repeat(1, 1fr);
    }
}
